.board-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  .play-board {
    background-color: #333;
    width: 240px;
    height: 400px;
    border-collapse: collapse;
    
    td {
      border: 1px solid black;
    }
    
    .fill {
      background-color: aquamarine;
    }
    
    .extra {
      background-color: lightgrey;
    }
  }

  .info-board {
    .level {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 120px;
      height: 40px;
      border-bottom: 1px solid #333;

      .detail {
        width: 120px;
        height: 60px;
      }
    }
  }
}
